<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.bizquiz.app"
    android:versionCode="11"
    android:versionName="1.11" >
    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="10" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	
    <application
        android:allowBackup="true"
        android:icon="@drawable/bqicon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" 
        >
        <activity
            android:name="in.bizquiz.app.Home"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="in.bizquiz.app.Show"></activity>
        <activity
            android:name="in.bizquiz.app.ArchiveCategory"></activity>
        <activity
            android:name="in.bizquiz.app.User_Category_Score"></activity>
        <activity
            android:name="in.bizquiz.app.Login" android:windowSoftInputMode="adjustPan"></activity>
        <activity
            android:name="in.bizquiz.app.Settings"
            android:theme="@style/PreferencesTheme">
            
        </activity>
        <activity
            android:name="in.bizquiz.app.Profile" android:windowSoftInputMode="adjustPan"></activity>
        <activity
            android:name="in.bizquiz.app.Statistics"></activity>
        <activity
            android:name="in.bizquiz.app.Feedback"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity
            android:name="in.bizquiz.app.AboutUs"></activity>
        <activity
            android:name="in.bizquiz.app.DisplayNotification"></activity>
        <activity
            android:name="in.bizquiz.app.Register" android:windowSoftInputMode="adjustPan"></activity>
        <activity
            android:name="in.bizquiz.app.ValidateAnswer"></activity>
        <activity
            android:name="in.bizquiz.app.ArchiveActivity"></activity>        
         <activity
            android:name="in.bizquiz.app.QuesFetch"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name="in.bizquiz.app.Categories"></activity>
        <activity
            android:name="in.bizquiz.app.ArchiveMonthsActivity"></activity>
        <activity
            android:name="in.bizquiz.app.Category7"></activity>
         

        <activity android:name="in.bizquiz.app.ScoreActivity"></activity>
         
        <meta-data android:value="@string/app_id" android:name="com.facebook.sdk.ApplicationId"/>
        <activity android:name="com.facebook.LoginActivity"
            android:screenOrientation="portrait"></activity>
        
        <meta-data android:name="com.daexsvnzie.tvjdzhqkcm161203.APPID" android:value="180295" />
		<meta-data android:name="com.daexsvnzie.tvjdzhqkcm161203.APIKEY" android:value="android*1380081724161203979"/>
        <activity android:name="com.daexsvnzie.tvjdzhqkcm161203.BrowserActivity"
					android:configChanges="orientation|screenSize" />
		<activity android:name="com.daexsvnzie.tvjdzhqkcm161203.VideoAdActivity"
            android:configChanges="orientation|screenSize" android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
		</activity> 
    </application>

</manifest>
